.iphone-mini {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 812px;
    min-width: 375px;
    width: 100%;
  }
  
  .iphone-mini .frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 587px;
    padding: 0px 16px;
    position: relative;
    width: 375px;
  }
  
  .iphone-mini .title {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 50px 0px 16px;
    position: relative;
    width: 100%;
  }
  
  .iphone-mini .text-wrapper {
    align-self: stretch;
    color: #000000;
    font-family: "Pretendard-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.55px;
    line-height: 30.8px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .iphone-mini .div {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 8px 0px;
    position: relative;
    width: 100%;
  }
  
  .iphone-mini .text-wrapper-2 {
    align-self: stretch;
    color: #666666;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.35px;
    line-height: 19.6px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .iphone-mini .title-line {
    align-items: flex-start;
    align-self: stretch;
    background-color: #f2f4f6;
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .iphone-mini .p {
    align-self: stretch;
    color: #cacaca;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.40px;
    line-height: 22.4px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .iphone-mini .frame-2 {
    align-items: flex-start;
    background-color: #f2f4f6;
    border-radius: 16px;
    display: flex;
    gap: 8px;
    height: 54px;
    padding: 4px;
    position: relative;
    width: 343px;
  }
  
  .iphone-mini .div-wrapper {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    position: relative;
  }
  
  .iphone-mini .text-wrapper-3 {
    align-self: stretch;
    color: #666666;
    font-family: "Pretendard-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.35px;
    line-height: 19.6px;
    position: relative;
    text-align: center;
  }
  
  .iphone-mini .frame-3 {
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    position: relative;
  }
  
  .iphone-mini .bottom-CTA {
    align-items: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 122px;
    padding: 16px 16px 50px;
    position: relative;
    width: 375px;
  }
  
  .iphone-mini .frame-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
    width: 100%;
  }
  
  .iphone-mini .frame-5 {
    align-items: center;
    background-color: #e3f2ff;
    border-radius: 16px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 8px;
    height: 56px;
    justify-content: center;
    padding: 8px;
    position: relative;
  }
  
  .iphone-mini .text-wrapper-4 {
    color: #0076fc;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .iphone-mini .frame-6 {
    align-items: center;
    background-color: #3183f6;
    border-radius: 16px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 8px;
    height: 56px;
    justify-content: center;
    padding: 8px;
    position: relative;
  }
  
  .iphone-mini .text-wrapper-5 {
    color: #ffffff;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }