:root {
    --bgbg-01: rgba(255, 255, 255, 1);
    --bgbg-02: rgba(248, 245, 240, 1);
    --bgbg-03: rgba(234, 224, 213, 1);
    --bgbg-04: rgba(28, 28, 28, 1);
    --body-body-1-font-family: "Pretendard", Helvetica;
    --body-body-1-font-size: 16px;
    --body-body-1-font-style: normal;
    --body-body-1-font-weight: 400;
    --body-body-1-letter-spacing: 0px;
    --body-body-1-line-height: 139.9999976158142%;
    --body-body-2-font-family: "Pretendard", Helvetica;
    --body-body-2-font-size: 14px;
    --body-body-2-font-style: normal;
    --body-body-2-font-weight: 400;
    --body-body-2-letter-spacing: 0px;
    --body-body-2-line-height: 139.9999976158142%;
    --brandprimary: rgba(30, 61, 89, 1);
    --brandsecondary: rgba(242, 169, 34, 1);
    --ETC-caption-font-family: "Pretendard", Helvetica;
    --ETC-caption-font-size: 12px;
    --ETC-caption-font-style: normal;
    --ETC-caption-font-weight: 500;
    --ETC-caption-letter-spacing: 0px;
    --ETC-caption-line-height: 139.9999976158142%;
    --ETC-overline-font-family: "Pretendard", Helvetica;
    --ETC-overline-font-size: 10px;
    --ETC-overline-font-style: normal;
    --ETC-overline-font-weight: 500;
    --ETC-overline-letter-spacing: 0px;
    --ETC-overline-line-height: 139.9999976158142%;
    --fontplaceholder: rgba(192, 184, 175, 1);
    --fontprimary: rgba(33, 33, 33, 1);
    --fontsecondary: rgba(92, 82, 71, 1);
    --fontsubtext: rgba(140, 130, 121, 1);
    --heading-h1-font-family: "Pretendard", Helvetica;
    --heading-h1-font-size: 24px;
    --heading-h1-font-style: normal;
    --heading-h1-font-weight: 700;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 139.9999976158142%;
    --heading-h2-font-family: "Pretendard", Helvetica;
    --heading-h2-font-size: 20px;
    --heading-h2-font-style: normal;
    --heading-h2-font-weight: 700;
    --heading-h2-letter-spacing: 0px;
    --heading-h2-line-height: 139.9999976158142%;
    --heading-h3-font-family: "Pretendard", Helvetica;
    --heading-h3-font-size: 18px;
    --heading-h3-font-style: normal;
    --heading-h3-font-weight: 600;
    --heading-h3-letter-spacing: 0px;
    --heading-h3-line-height: 139.9999976158142%;
    --lineline-01: rgba(221, 221, 221, 1);
    --lineline-02: rgba(176, 167, 158, 1);
    --lineline-03: rgba(140, 130, 121, 1);
    --lineline-04: rgba(79, 79, 79, 1);
    --stateerror: rgba(211, 47, 47, 1);
    --stateinfo: rgba(33, 150, 243, 1);
    --statesuccess: rgba(76, 175, 80, 1);
    --statewarning: rgba(255, 152, 0, 1);
  }